:root{
    --titulos : #82ACFF;
    --subtitulos : #8F71FF;
    --fondo: #866EC7;
    --texto:#B7FBFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--texto);
}


header h1 {
    position: absolute;
    font-size: clamp(3.5rem, 8vw + 1rem, 12rem);
    letter-spacing: 5px;
    font-weight: 700;
    transform: translateY(-50%);
}

/* .glass {
    position: absolute;
    width: 42%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 30%);
    backdrop-filter: blur(10px);
} */

.h-glass {
    background: url(/assets/fondo.jpg) center no-repeat fixed;
    background-size: cover;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-animation-fill-color: transparent;
    top: 10%;
    right: 55%;
    animation: text1 0.8s ease-in forwards;
}

.h-regular {
    top: 17%;
    left: 35%;
    animation: text2 0.8s ease-in forwards;
    -webkit-animation: text2 0.8s ease-in forwards;
    animation-delay: 500ms;
} 

.container-form{
    width: 90%;
    display: flex;
    justify-content:space-around;
    transition: all .5s ease-out;
}

.bienvenido{
    width: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    /* z-index: 2;
    position: relative;
    top: 185px;
    height: 800px;
    left: 73px;  */
}

.mensaje{
    padding: 16px;
}

.mensaje h2{
    font-size: 60px;
    padding: 16px 0;
}

.mensaje button{
    padding: 16px;
    font-weight: 400;
    background-color: #866EC7;
    border-radius: 32px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    margin-top: 32px;
    transition: all .3s ease-out;
    color: var(--texto);
    width: 400px;
}

.mensaje button:hover{
    background-color: #8F71FF;
}

.formulario{ 
    width: 40%;
    border-radius: 20px;
    padding: 15px;
    margin: 32px;
    background-color: rgba(51, 51, 51, 0.502);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: max-content;
}

.create-account{
    padding:43px 0;
    font-size: 27px;
}

.cuenta-gratis{
    padding: 32px 0;
    text-decoration: underline;
}

.registro{
    padding: auto;
    text-decoration: underline;
}

.formulario input{
    width: 70%;
    height: max-content;
    display: block;
    margin: auto;
    margin-bottom: 32px;
    background-color: inherit;
    border: none;
    text-align: center;
    outline: none;
    padding: 10px 0;
    font-size: 20px;
    color: var(--texto);
    border-radius: 20px;
    /* background-color: var(--fondo); */
}

.formulario input[type="button"]{
    /* margin: auto; */
    border: solid thin white;
    /* padding: 8px; */
    border-radius: 32px;
    background-color: white;
    font-weight: 600;
    margin-top: 48px;
    font-size: 24px;
    cursor: pointer;
    color: var(--titulos);
    width:60%;
}

.sign-in{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active{
    opacity: 1;
    visibility: visible;
}

.sign-up.active{
    opacity: 0;
    visibility: hidden;
}

/* Mostrar contrasena */

#toggle{
    Position: absolute;
    top: 47%;
    right: 60%;
    transform: translateY(-50%);
    width:30px;
    height: 30px;
    background: url(/assets/show.jpg);
    background-size: cover;
    cursor: pointer;
    color: white;
}

/* Ocultar Contrasena */

#toggle.hide{
    background: url(/assets/hide.jpg);
    background-size: cover;
}

/* Validar Correo solo iniciar sesion */

#form #email{
    /* padding: 15px; */
    background-color: rgba(51, 51, 51, 0.502);
    text-align: center;
}

#form .inputBox{
    position: relative;
}

#text{
    display: block;
    color:#000;
    font-weight: 300;
    font-style: oblique;
    padding:5px;
    margin-bottom:5px;
}


