@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --label: #D6CAF8;
  --black: #000000;
  --header: #0D1122;
  --fondo-container: #1e1e1eb5;
  --letter: #CBF4F7;
  --white: #ffff;
  --button: #524388;
  --hover:#00eeff80;
  /* --sm: 14px;
  --md: 16px;
  --lg: 20px; */
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

header {
  width: 100%;
  height: 120px;
  background-color: var(--header);
}

header img {
  width: 250px;
  margin: 10px;
}

.profile-image {
  margin-top: 8px;
  margin-right: 50px;
}
.profile-image img {
    width: 75px;
}

.nav{
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  height:120px;
}

.nav .logo{
  margin-top: 35px;
}

.container-list{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 60vh;
}
  
.container-list ul{
  display: flex;
  justify-content: space-between;
  width: 300px;
}
  
.container-list ul li{
  list-style-type: none;
}

.container-list ul li a{
  color: var(--letter);
  text-decoration: none;
}
.container-list ul li a:hover{
  color: var(--letter);
  text-decoration-line: underline;
}
  
.container-account{
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.container-account ul{
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 200px;
  text-align: right;
  margin: 25px 0px -192px 60px;
  background-color: var(--button);
  color: var(--letter);
  font-size: 20px;
}

.container-account:hover{
  background-color: var(--button);
  width: 200px;
}

.container-account:hover ul{
  display: block;
  text-align: center;
}

.container-account li {
  margin: 16px 0;
}

.container-account li a{
  color: #ffffff;
  text-decoration: none;
  
}

.container-account li a:hover{
  text-decoration: underline;
}

/* ul,ol{
    list-style: none;
  }
  
.profile-list li a{
  background-color: var(--button);
  color: var(--letter);
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  }
  
.profile-list a:hover{
    background-color: #b3a9ce8c;
  }
  
.profile-list > img {
    float:left;
  }
  
.profile-list ul li {
    display:none;
    position: absolute;
    min-width: 140px;
  } */


label {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--label);
  font-size: 20px;
  text-align: center;
  margin-right: 15px;
}

button {
  background-color: var(--button);
  border-radius: 8px;
  height: 55px;
  font-size: 20px;
  padding: 8px;
  margin: 10px;
  cursor: pointer;
  border: none;
}

button a {
  text-decoration: none;
  color: var(--letter);
}

button:hover {
  background-color: rgba(68, 0, 253, 0.5);
  animation: .1s ease-in;
}

body{
  background-image: url(../assets/img/foto_fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.filtro-add{
  display: flex;
  align-content: center;
  align-items: flex-end;
  width: 500px;
  height: 50px;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 100px;
}

.cards-ads{
  display: grid;
  grid-template-columns: repeat(4,250px);
  row-gap: 40px;
  padding: 20px;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  justify-items: center;
  column-gap: 10px;
  margin-top: 50px;
}

.card-pet{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background:rgba(255, 255, 255, 0.8);
}

.image{
  width: 100%;
}

.image img{
  width: 100%;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.card-body h3{
  margin: 10px;
  color: var(--button);
}

.card-body p{
  margin: 10px;
}

.ad-container a{
  text-decoration: none;
}


select{
    border-radius: 5px;
    border: none;
    background-color:var(--label);
}
