@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --label: #D6CAF8;
  --black: #000000;
  --header: #0D1122;
  --fondo-container: #1e1e1eb5;
  --letter: #CBF4F7;
  --white: #ffff;
  --button: #524388;
  --hover:#00eeff80;
  --titulos : #82ACFF;
  --subtitulos : #8F71FF;
  --fondo: #866EC7;
  --texto:#B7FBFF;
  --primary: #ff5303;
  --backgroud: #F3F4ED;
  --font-color: #424642;
  --border: #555555bd;
  /* --sm: 14px;
  --md: 16px;
  --lg: 20px; */
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  outline: none;
}

body{
  width: 100%;
  /* display: grid;  */
  place-items: center;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../assets/img/foto_fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
}

header {
  width: 100%;
}

header img {
  width: 250px;
  margin: 10px;
}

.profile-image {
  margin-top: 8px;
  margin-right: 50px;
}
.profile-image img {
    width: 75px;
}

.nav{
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  height:120px;
}

.nav .logo{
  margin-top: 35px;
}

.container-list{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 60vh;
  
}
  
.container-list ul{
  display: flex;
  justify-content: space-between;
  width: 300px;
}
  
.container-list ul li{
  list-style-type: none;
}

.container-list ul li a{
  color: var(--letter);
  text-decoration: none;
  
}
.container-list ul li a:hover{
  color: var(--letter);
  text-decoration-line: underline;
  background:var(--fondo);
  border-radius: 10px;
}
  
.container-account{
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.container-account ul{
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 200px;
  text-align: right;
  margin: 25px 0px -192px 60px;
  background-color: var(--button);
  color: var(--letter);
  font-size: 20px;
}

.container-account:hover{
  background-color: var(--button);
  width: 200px;
}

.container-account:hover ul{
  display: block;
  text-align: center;
}

.container-account li {
  margin: 16px 0;
}

.container-account li a{
  color: #ffffff;
  text-decoration: none;
  
}

.container-account li a:hover{
  text-decoration: underline;
}


label {
  font-weight: bold;
  margin-bottom: 10px;
  /* color: var(--label); */
  font-size: 20px;
  text-align: center;
  margin-right: 15px;
}

button {
  background-color: transparent;
  border-radius: 8px;
  height: 55px;
  font-size: 20px;
  padding: 8px;
  margin-top: 130px;
  cursor: pointer;
  border: none;
  width: 100%;
  text-decoration: none;
}

button a {
  text-decoration: none;
  color: var(--letter);
}

button a {
  text-decoration: none;
  color: var(--letter);
}

button:hover, a:hover {
  text-decoration: underline;
  color: #D6CAF8;
}

<<<<<<< HEAD
=======
body{
  background-image: url(../assets/img/fondo.jpg);
  
  /* background-color: #9789ca7d; */
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
}
>>>>>>> frontend

.filtro-add{
  display: flex;
  align-content: center;
  align-items: flex-end;
  width: 500px;
  height: 50px;
  justify-content: space-between;
  margin: 20px 0px 50px 100px;
}

select{
  border-radius: 5px;
  border: none;
  background-color:var(--label);
}

.ad-container label{
  cursor: pointer;
}

.ad-container a{
  text-decoration: none;
}


.cards-ads{
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: minmax(100px, auto);
  padding: 90px;
  grid-auto-flow: dense;
  justify-items: center;
  margin: 50px 0px;
  gap: 5px;
}

.cards-ads .card-pet{
  background-image: url(../assets/img/foto_fondo3.jpg);
  box-shadow: rgb(17, 17, 17) 5px 10px 10px;
  /* width: 200px;
  height: 250px; */
  display: grid;
  cursor: pointer;
  transition: 350ms all;
  position: relative;
}

.cards-ads .card-pet:hover{
  grid-column: span 1;
  grid-row: span 2;
  transition: 350ms all;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.card-body{
  background: linear-gradient(to top, rgba(0, 0, 25, 2.9) 0%, rgba(0, 0, 0, 0) 100%);
  /* background-color: #d6caf89d; */
  font-size: 16px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  color: white;
}

.card-body h3{
  font-size: 35px;
  color: var(--texto);
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 2px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  z-index: 1;
  height: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.card-body p{
  font-size: 18;
  color: var(--texto);
  padding-bottom: 1px;
  line-height: 25px;
  margin: 10px 0px 20px 0px;
}

.card-body:hover {
  opacity: 1;
}

.card-ads:nth-child(1) {
  grid-column: span 2;
}

<<<<<<< HEAD
select{
    border-radius: 5px;
    border: none;
    background-color:var(--label);
}

/* Cards */

.row{
  /* width: 80%; */
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.row .card{
  width: 450px;
  height: 500px;
  position: relative;
  border: none;
  border-radius: 70px 10px 70px 10px;
  box-shadow: 5px 10px 10px #111111;
  overflow: hidden;
  cursor: pointer;
  margin: 10px 5px;
}

.row .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row .card .content{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  text-align: center;
  background: linear-gradient(45deg, rgba(106, 48, 147, 0.9), rgba(162, 68, 255, 0.5));
  transition: all 0.5s linear;
}

.row .card .content.box1{
  clip-path: circle(0% at 0 100%);
}

.row .card:hover .content.box1{
  clip-path: circle(141.4% at 0 100%);
}

.row .card .content.box2{
  clip-path: circle(0% at 50% 50%);
}

.row .card:hover .content.box2{
  clip-path: circle(70.7% at 50% 50%);
}

.row .card .content.box3{
  clip-path: circle(0% at 100% 0);
}

.row .card:hover .content.box3{
  clip-path: circle(141.7% at 100% 0);
}

.row .card .content h3{
  font-size: 35px;
  color: var(--texto);
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 2px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  z-index: 1;
  height: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.row .card .content p{
  font-size: 18;
  color: var(--texto);
  padding-bottom: 1px;
  line-height: 25px;
  margin: 10px 0px 20px 0px;
}

.row .card .content ul{
  display: block;
  color: var(--texto);
  margin-top: 15px;
}

.row .card .content ul li{
  display: inline-block;
  margin: 0 5px;
}

.row .card .content ul li a{
  display: block;
  color: var(--texto);
  font-size: 20px;
  padding: 10px;
  transition: all 0.5s linear;
}

.row .card .content ul li:hover a{
  transform: translateY(-10px);
}

/* Tables de description */

tbody{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
=======
.container-ul ul {
  display: none;
  padding: 0px;
  position: absolute;
  margin: 85px 0px 0px 200px;
  font-size: 20px; 
}

.container-ul:hover{
  background-color: transparent;
}

.container-ul:hover ul{
  display: block;
  text-align: center;
}
.container-ul ul:hover {
  opacity: 1;
}

.container-ul ul li {
  display: inline-block;
  margin: 0 5px;
}

.container-ul ul li a {
  display: block;
  color: var(--texto);
  font-size: 20px;
  padding: 10px;
  transition: all 0.5s linear;
}

.container-ul ul li:hover a {
  transform: translateY(-10px);
  color: var(--letter);
}

/* Tables de description */
thead{
  text-decoration: underline;
  text-transform: uppercase;
  color: var(--white);
  font-size: 20px;
  letter-spacing: 2px;
}

tbody{
  margin-top: 20px;
  height: 100px;
  padding: 10px;
>>>>>>> frontend
}

td{
  color: var(--letter);
  line-height: 25px;
  font-weight: bold;
}

<<<<<<< HEAD
thead{
  text-decoration: underline;
  text-transform: uppercase;
  color: var(--letter);
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
=======
>>>>>>> frontend

tr{
  margin-bottom: 5px;
}

table{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
}
=======
}


>>>>>>> frontend
